$header-font: 'Anton', sans-serif;
$primary-color: #3bedb7;

body {
  background-color: $primary-color;
}

.header {
  font-family: $header-font;
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    list-style: none;

    li {
      margin: 0px 10px;
    }
  }

  img {
    width: 25%;
  }
}

h1 {
  font-family: $header-font;
}
